{% extends 'base_layout.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<h1>Latest Posts</h1>

<div class="posts">
    {% for post in posts %}
    <div class="post">
        <div class="post-list-thumbnail">
            <a href="{{ post.slug }}">
                <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
            </a>
        </div>
        <div class="post-list-content">
            <header>
                <h2> <a href="{{ post.slug }}">{{ post.title }} </a> </h2>
            </header>

            <p>{{ post.truncate_body }}</p>

            <footer>
                <p><time> {{ post.pub_date}}</time></p>
            </footer>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}