*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 100%;
    max-width: 100%;
}

.main-header {
    border-bottom: 1px solid #444;
    font-size: 2rem;
    padding: 1rem 0rem;
    margin-bottom: 2rem;
}

.main-header h1 a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 2rem;
}

.post {
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
    display: flex;
}

.post p {
    font-size: 120%;
}

.post h2 {
    font-size: 1.5rem;
    color: #000;
    margin-bottom: .5rem;
}


.post h2 a {
    color: inherit;
    text-decoration: none;
}

.post h2 a:hover {
    text-decoration: underline;
}

.post .post-list-thumbnail {
    flex: .3;
    margin-right: 2rem;
}

.post .post-list-thumbnail img {
    width: 100%;
}

.post .post-list-content {
    flex: 1.7;
}

.post-single header h2 {
    font-size: 1.5rem;
}

.post-single header {
    margin-bottom: 1rem;
}

.post-single header time {
    color: #444;
    font-size: .9rem;
}

.post-single img {
    max-width: 80%;
    display: block;
    display: block;
    margin: 2rem 0;
}


@media (max-width: 800px) {

    .post .post-list-thumbnail {
        flex: .6;
    }

    .post .post-list-content {
        flex: 1.4;
    }

}

@media(max-width:400px) {
    .post {
        display: block;
    }
}